extends layout
block content
  .container
    .sixteen.columns
        .sixteen.columns#gist
            h4 Created by:
                if rows[0].username === 'ANONYMOUS'
                    a(href='') #{rows[0].username}
                else
                    a(href='/#{rows[0].username}')  #{rows[0].username}
            h6 #{time} ago
            textarea(id="gistArea" readonly="readonly" rows='30' cols='100')
                | #{rows[0].text}


